<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Academic publications of [Your Name]">
    <meta name="author" content="[Your Name]">
    <title>[Your Name] - Academic Publications</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/publication.css') }}">
<!--    <link rel="stylesheet" href="styles.css"> &lt;!&ndash; External CSS &ndash;&gt;-->

    <!-- Google Fonts for a professional look -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" href="favicon.ico">
</head>

<body>
    <header>
        <div class="container">
            <h1>Academic Publications</h1>
        </div>
    </header>

    <section class="publications">
        <div class="container">

            <!-- Publication 1 -->
            <div class="publication">
                <h3>Moderating Large Scale Online Deliberative Processes with Large Language Models (LLMs): Enhancing Collective Decision-Making</h3><p>JUST ACCEPTED</p>
                <p class="authors">Ibukun David Babatunde, Obiabuchi Nnanna Martin, and Mark Klein</p>
                <p class="journal">Published in <i>Proceedings of ACM SAC Conference (SAC’25)</i>, 2025</p>
                <p class="abstract">This study investigates the use of Large Language Models (LLMs), specifically ChatGPT-4o, to enhance the moderation of online deliberative processes. It explores how LLMs can automate critical moderation tasks, improve discussion structure, and facilitate collective decision-making on a large scale.</p>
                <a href="https://drive.google.com/file/d/1QvnCh8v18Gakw7rZUYeyJtqZi0ljE4P2/view" class="publication-link" target="_blank">Read Full Paper</a>
            </div>

            <!-- Publication 2 -->
            <div class="publication">
                <h3>Enhancing Contract Management through Natural Language Processing (NLP): A Case Study of Three African Countries</h3>
                <p class="authors">BABATUNDE, I.D., A. Ezirim, and B.O. Hountondji</p>
                <p class="journal">Published in <i>Proceedings of the 5th Deep Learning Indaba Conference (DLI 2023)</i>, 2023</p>
                <p class="abstract">This research focuses on leveraging Natural Language Processing (NLP) to improve contract management processes in three African countries, demonstrating how NLP can automate document processing and enhance efficiency in contract-related tasks.</p>
                <a href="https://openreview.net/forum?id=DUrRx78LEw" class="publication-link" target="_blank">Read Full Paper</a>
            </div>

        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; BABATUNDE , Ibukun David | Academic Publications | 2025</p>
        </div>
    </footer>

</body>

</html>
